<!-- The users index view. -->
<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- The users index with pagination. -->
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>